window {
    margin: 0px;
    background-color: #000000;
    /* Тонкая белая граница в 1 пиксель и закругление 4 */
    border: 1px solid #ffffff; 
    border-radius: 4px;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-size: 14px;
}

#outer-box {
    margin: 2px;
    border: none;
    background-color: transparent;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #111111; /* Чуть светлее фона для поля ввода */
}

#inner-box {
    margin: 2px;
    border: none;
    background-color: transparent;
}

#entry {
    border-radius: 4px; /* Чтобы выделение тоже было со скруглением */
}

#entry:selected {
    background-color: #222222; /* Темно-серое выделение */
}

#text {
    margin: 3px 10px;
    color: #ffffff;
}

#text:selected {
    color: #ffffff;
}
