* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: #000000;
    color: #ffffff;
    border-bottom: 1px solid #222222;
}

#workspaces button {
    color: #555555;
    padding: 0 8px;
}

#workspaces button.active {
    color: #ffffff;
}

#clock, #cpu, #memory, #network, #battery, #pulseaudio, #language, #bluetooth {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio.muted {
    color: #555555;
}

#tray {
    background-color: #111111; /* Темный фон под иконки */
    border-radius: 4px;
    margin: 4px;
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-style: symbolic;
}

#tray > .needs-attention {
    -gtk-icon-style: symbolic;
    background-color: #eb4d4b; /* Красный фон, если Telegram пришло сообщение */
}

#custom-pomodoro {
    padding: 0 10px;
    transition: all 0.3s ease;
}

#custom-pomodoro.work {
    color: #ff5555; /* Красный — работаем */
}

#custom-pomodoro.break {
    color: #50fa7b; /* Зеленый — чилл */
}

#custom-pomodoro.finished {
    background-color: #ff5555;
    color: #ffffff;
    animation: blink 1s infinite;
}

@keyframes blink {
    to { background-color: transparent; }
}


