* {
    border: none;
    font-family: "Hack Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background: #000000;
    color: #ffffff;
    border-bottom: 1px solid #222222;
}

#workspaces button {
    color: #555555;
    padding: 0 8px;
}

#workspaces button.active {
    color: #ffffff;
}

#clock, #cpu, #memory, #network, #battery, #pulseaudio, #language, #bluetooth {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio.muted {
    color: #555555;
}

#tray {
    background-color: #111111; /* Темный фон под иконки */
    border-radius: 4px;
    margin: 4px;
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-style: symbolic;
}

#tray > .needs-attention {
    -gtk-icon-style: symbolic;
    background-color: #eb4d4b; /* Красный фон, если Telegram пришло сообщение */
}
